.correct {
    color: green;
    text-shadow: 1px 1px 5px black;
}

.incorrect {
    color: purple;
    text-decoration: underline;
    text-shadow: 1px 1px 5px black;
}

.neither {
    text-decoration: none;
    color: white;
}

span {
    font-family: sans-serif;
    font-size: 14;
    color: white;
    font-family: 'Special Elite', cursive;

}

.lyrics {
    height: inherit;
    width: inherit;
    text-align: center;
    font-size: 32px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    border-radius: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    text-align: center;
    height: 125px;
    resize: none;
    margin:15px 250px 25px 250px;
    z-index: 5;
}