.correct {
    color: green;
    text-shadow: 1px 1px 5px black;
}

.incorrect {
    color: purple;
    text-decoration: underline;
    text-shadow: 1px 1px 5px black;
}

.neither {
    text-decoration: none;
    color: white;
}

span {
    font-family: sans-serif;
    color: white;
    font-family: 'Special Elite', cursive;
}

#showLyrics {
    width: 100vw;

}

.lyrics {
    height: 850px;
    width: 900px;
    text-align: center;
    font-size: 32px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 
        0 3px 2.2px rgba(0, 0, 0, 0.046),
        0 7px 5.3px rgba(0, 0, 0, 0.052),
        0 13px 10px rgba(0, 0, 0, 0.068),
        0 25px 17.9px rgba(0, 0, 0, 0.079),
        0 40px 33.4px rgba(0, 0, 0, 0.094),
        0 60px 75px rgba(0, 0, 0, 0.50)
    ;
}

textarea {
    border-radius: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    text-align: center;
    height: 125px;
    width: 400px;
    resize: none;
    margin-top: auto;
    margin-bottom: 10px;
    z-index: 5;
}

#0 {
    display:none;
}

#1 {
    display: none;
}